// font imports
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// fonts
$Jua-Family: 'Jua', cursive;
$Lato-Family: 'Lato', sans-serif;

// colors
$default-dark: #000000;
$default-light: #fff;

// background color
$primary-bg-color: #0f3d62;
$transparent: transparent;

// Dark mode
$primary-bg-dark: #091927;
$primary-bg-dark-offset: #0f2940;

// background offsets
$primary-bg-offset: #0f3d62;
$primary-bg-offset2: #124b79;

// audio bg
$audio-bg-color: #3e394d;
// audio level color
$audio-level-color: #008000;

// text colors
$primary-txt-color: #e58f00;

// start live stream
$go-live-btn: #161f27;
$go-live-btn-hover: #102c38;
$go-live-txt-hover: #985f01;
// End live
$end-live-txt-color: #ffd18b;
$end-live-btn: #193138;
$end-live-btn-hover: #2a4a54;
$end-live-txt-hover: #ba9358;

//  Scene Content Drawer Colors
$scene-ctn-drawer-search: #091927;
$scene-ctn-drawer-search-hover: #0f2c3e;
$scene-ctn-drawer-search-txt-color: #e58f00;
$scene-ctn-drawer-folder-color: #e58f00;

// .Scene Component Colors
$scene-root-bg-color: #97d5e0;
$scene-camera-bg-color: #0ba454;
$scene-video-bg-color: #e58f00;
$scene-mic-bg-color: #64e369;
$scene-txt-bg-color: #94532d;
$scene-powerpoint-bg-color: #cf6679;
