@import '../../../../../sass/_variables';

.scene-list {
    font-family: $Lato-Family;
    list-style: decimal-leading-zero;
    font-size: 1rem;

    // Root Node
    &--root {
        font-family: $Lato-Family;
        text-align: left;
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        margin-bottom: 1rem;

        color: white;

        &--img {
            width: 20px;
            padding: 0.25rem;
        }
    }
}
