.child {
    background-color: aqua;
    color: black;
    resize: both;

    max-width: 25vw;
    max-height: 25vh;

    overflow: scroll;

    font-size: max(1.5vw, 1.5vh);

    padding: 1em;

    border: transparent;
    border-radius: 1rem;
    
    // Image Preview
    &--preview {
        resize: none;
    }
}