.child {
    background-color: aqua;
    color: black;
    resize: both;

    max-width: 50vw;
    max-height: 50vh;
    overflow: hidden;

    padding: 1rem;
    
    // Image Preview
    &--preview {
        resize: none;
    }
}