.child {
    background-color: aqua;
    color: black;
    resize: both;

    max-width: 50vw;
    max-height: 50vh;
    overflow: hidden;
}

.test {
    width: auto;
    height: auto;
    max-width: 50vw;
    max-height: 50vh;
}