@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 1em;

    background-color: #091927;
    font-family: 'Lato', sans-serif;
}

.pos {
    position: fixed;
    left: 9rem;
}

.pos-right {
    position: fixed;
    right: 10.25em;
    margin-top: 2px;
}

.seperator {
    border-right: 1px solid #005d62;
    height: 2rem;

    &--left {
        @extend .seperator;

        border-right: none;
        border-left: 1px solid #005d62;
    }
}

.percent {
    font-size: 8px;
    color: #005d62;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;
}

.cpu {
    width: 50px;
    height: 50px;

    padding: 5px;
    position: fixed;
    left: 0.5;
    bottom: 0;
}

.stack {
    width: 20px;
    height: 20px;

    padding: 5px;
}

.fps {
    font-size: 10px;
    color: #005d62;
    position: fixed;
    left: 7.25rem;
    margin-top: 3px;
}

.info {
    width: 40px;
    height: 30px;

    padding: 5px;

    // margin-top: 2px;
    margin-bottom: 12px;
    position: fixed;
    left: 8.5rem;

    &:hover {
        cursor: pointer;
    }
}

.last {
    padding: 5px;
    border-right: 1px solid #005d62;
}

.image-cont {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

// Right Side
.live-btn-temp {
    position: fixed;
    right: 1em;

    padding: 8px;
    width: 8em;

    border: 1px solid #e58f00;
    border-radius: 3px;
    background-color: #e58f00;

    //  font
    font-weight: bold;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.rec {
    position: fixed;
    right: 7em;

    &:hover {
        cursor: pointer;
    }
}
