@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.button {
  border: 1px solid #66462f;
  font-family: 'Jua', sans-serif;
  font-size: 28px;
}

.btn-font {
  font-family: 'Jua', sans-serif;
  font-size: 20px;
}