---
interface Frontmatter {
	title: string;
	description?: string;
}

const posts = await Astro.glob<Frontmatter>('../markdown/*.md');
---

<html>

<head>
	<title>Testing Astro</title>
</head>
.</html>
<body>
	<ul>
		{posts.map(post => <li>{post.frontmatter.title}</li>)}
		<!-- post.frontmatter.title will be `string`! -->
	</ul>
</body>

</html>