.img-font {
    font-family: 'Jua', sans-serif;
    font-size: 3rem;
}

.font {
    font-family: Lato;
    font-style: italic;
    color: white;

    #active {
        padding: 1em;
        transition: 0.5s;
    }

    #link {
        padding: 1em;
        transition: 0.5s;
    }

    :hover {
        text-decoration: underline;
        font-size: 2rem;
        transition: 0.5s;
        cursor: pointer;
    }
}

.copyright {
    font-family: Lato;
    font-size: .75rem;
    font-style: italic;
}

.link {
    font-family: 'Lato', sans-serif;
    font-style: italic;

    &--inactive {
        font-size: 1rem;
        color: #B3B3B3;
    }

    &:hover {
        text-decoration: underline;
        font-size: 2rem;
        transition: 0.5s;
        cursor: pointer;
    }
}