@import '../../sass/_variables';

.lato {
    font-family: $Lato-Family;
    color: white;
}

.titlebar {
    height: 70px;
    background: #0f2940;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    h2 {
        font-family: $Jua-Family;
        font-size: 2rem;
    }
}

.logo {
    display: flex;
    float: left;
    width: 1.25em;
    position: fixed;
    left: 0;
}

.links {
    display: flex;
    position: fixed;
    left: 0;

    margin-left: 250px;

    /* font things */
    font-weight: 400;
}

.icon {
    width: 2em;
    height: 2em;

    padding: 1em;
}

.text {
    font-size: 1.25rem;
    position: fixed;
    top: 1em;
    font-family: $Jua-Family;
}

.container {
    // TODO: Move the container correctly.
}

.flex {
    display: flex;
}

.scene-link {
    font-weight: 300;

    cursor: pointer;

    &--active {
        @extend .scene-link;

        margin-right: 1em;
        text-decoration: underline;
    }
}

.img {
    width: 4em;
    padding: 0.15rem;
}
