
.scene {
    width: 95%;
    height: 75vh;
    
    padding: 2em;

    // position code
    position: fixed;
    top: 5em;

    background:#0F3D62;
    border: 1px solid #0F3D62;
    border-radius: 5px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    overflow: hidden;
}