@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.heading {
  color: #363636;
  font-size: min(1rem, 2rem);
  font-weight: regular;
  font-family: 'Jua', sans-serif;
  
  padding: max(6rem, 2rem);
  transition: 0.5s;
}

.t-lg {
  font-size: 30px;
}

.t-sm {
  font-size: 22px;
}

.subheading {
  color: #695252;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  padding: 2px;
}

.description {
  font-family: 'Kalam', cursive;
  font-size: 18px;
  color: white;
  padding: 2px;
}

@media (min-width: 380px) {
  .heading {
    font-size: 5rem;
    padding: 4px;
  }
}
